<h2><%= @github_user.name %></h2>

<%= image_tag @github_user.avatar %><br>
<h3><%= @github_user.name %></h3>
<h3><%= @github_user.login %></h3>
<h4>Stars <%= @github_user.starred_repos(current_user.oauth_token) %></h4>
<%= link_to "Followers #{@github_user.followers(current_user.oauth_token).count}", dashboard_followers_path%>
<%= link_to "Following #{@github_user.following(current_user.oauth_token).count}" %>


<%= link_to "Logout", logout_path, method: :delete %>
